# Git
.git
.gitignore

# Documentation
README.md
LICENSE

# IDE files
.vscode
.idea

# OS files
.DS_Store
Thumbs.db

# Docker files
Dockerfile
.dockerignore

# Logs
*.log

# Temporary files
*.tmp
*.temp
